# IDEs
.idea
.vscode/
*.swp
*.swo
*~

# Build artifacts
build/
dist/
*.egg-info/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Sphinx documentation
docs/_build/
docs/_static/
docs/_templates/

# Environments
venv/
venv311/
ENV/
env/
.venv

# OS
.DS_Store
Thumbs.db

# Old files
*.old
*.bak
